_build/
*.swp
*.swo
*.DS_Store

watch_app/.google
watch_app/.gradle/
watch_app/.idea/
watch_app/Application/build/*
watch_app/gradlew
watch_app/gradlew.bat
watch_app/local.properties
watch_app/packaging.yaml
watch_app/Application/build.gradle
watch_app/Application/Application.iml
watch_app/build.gradle
watch_app/settings.gradle
watch_app/watch_app.iml
watch_app/gradle/*
watch_app/build/intermediates/dex-cache/cache.xml
